.wrapper{
    display: grid;
    grid-template-columns: 33% 70%;
    gap:40px;
    border-radius: 10px;
    margin: 20px 60px;
    background-color: rgb(240, 240, 240);
}
.imgWrapRight{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    flex-wrap: wrap;
}
.imgWrapLeft img{
    border-radius: 10px;
  margin: 30px;
  position: relative;
}
.imgContent{
        width: 80%;
        margin-right: 0px !important;
}
.imgContent h6{
    font-size: 14px;
}
.img{
      border-radius: 10px; 
}



