.wrapper{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 250px;

  width: 100%;
}
.wrapper h1{
    color: transparent;
}
.Imgwrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}