.wrapper {
  display: flex;
  flex-flow: column;
  padding: 40px 100px;
  align-items: center;
}
h4 {
  font-size: 27px;
  color: #000;
  font-weight: 500;
}
p {
  font-size: 16px;
  color: #646464;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.horizontalBox {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.flexBox {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
}
.paddingBox {
  padding: 10px 20px;
}
.iconWrap {
  background-color: #cbcbcb;
  border-radius: 50%;
  padding: 5px;
}
.wIcon {
  color: white;
  font-size: 45px;
}
.fbIcon {
  color: #4267b2;
}
.twtIcon {
  color: #00acee;
}
.threeGrid {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  gap: 15px;
}
.twoGrid {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 20px;
  margin: 20px 100px;
}
.img {
  width: 100%;
  height: auto;
}
